<!DOCTYPE html>
<html>
<head>
    <title>proxy</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .upImgBtn {
            opacity: 0;
        }

        th {
            text-align: center;
        }

        td {
            font-size: 15px;
            vertical-align: middle !important;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="ng-scope" style="margin:5px 0 10px 2px;">
    <div class="profile-actions">
        <button onclick="startUpload()" class="btn btn-default ng-binding add" data-toggle="modal" data-target="#exampleModal">
            <span class="glyphicon glyphicon-plus"></span> 添加代理
        </button>
        <button class="btn btn-default ng-binding" data-toggle="modal" data-target="#keygenModal">
            <span class="glyphicon glyphicon-lock"></span> 生成加密证书
        </button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加proxy</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="">

                    <div class="form-group auto">
                        <label class="control-label">
                            名称:
                        </label>
                        <br>
                        <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" placeholder="" name="name">
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            参数:
                        </label>
                        <br>
                        <textarea  class="form-control" rows="6" name="param"></textarea>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            是否开启自启动:
                        </label>
                        <br>
                        <input type="radio" name="auto" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传key文件:
                        </label>
                        <br>
                        <input type="hidden" name="key">
                        <a class="btn btn-primary ng-binding file_upload">.key文件</a>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传crt文件:
                        </label>
                        <br>
                        <input type="hidden" name="crt">
                        <a class="btn btn-primary ng-binding file_upload" >.crt文件</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="add()" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">修改proxy</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="">

                    <div class="form-group auto">
                        <label class="control-label">
                            名称:
                        </label>
                        <br>
                        <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" placeholder="" name="name">
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            参数:
                        </label>
                        <br>
                        <textarea  class="form-control" rows="6" name="param"></textarea>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            是否开启自启动:
                        </label>
                        <br>
                        <input type="radio" name="auto" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传key文件:
                        </label>
                        <br>
                        <input type="hidden" name="key">
                        <a class="btn btn-primary ng-binding file_upload" >.key文件</a>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传crt文件:
                        </label>
                        <br>
                        <input type="hidden" name="crt">
                        <a class="btn btn-primary ng-binding file_upload"  >.crt文件</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="update()" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">删除</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div>
                    <label for="recipient-name" class="control-label">
                        你确定要删除吗？
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="del()" data-dismiss="modal" class="btn btn-primary">删除</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="keygenModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">加密</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div>
                    <label for="recipient-name" class="control-label">
                        你确定要生成加密文件吗？
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="keygen()" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/notify.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/webupload/webuploader.js"></script>
<script type="text/javascript">

    var html = '<table class="fixed-servers table table-bordered table-striped width-limit-lg">\
						<thead>\
							<tr style="background-color: #f9f9f9;">\
							    <th class="ng-binding">名称</th>\
								<th class="ng-binding">参数</th>\
								<th class="ng-binding">状态</th>\
								<th class="ng-binding">开机自启动</th>\
								<th class="ng-binding">操作</th>\
							</tr>\
						</thead>\
						<tbody>\
							<tr style="background-color:#fff;">\
							    <td style="width:100px;">\
                                    <span class="nameSpan"></span>\
                                </td>\
								<td style="width:430px;">\
									<span class="paramSpan"></span>\
								</td>\
								<td style="width:80px;">\
								   <span class="statusSpan"></span>\
								</td>\
								<td style="width:80px;">\
								   <span class="autoSpan"></span>\
								</td>\
								<td  style="width:270px;">\
									<a class="btn btn-primary ng-binding update" onclick="getData(this)">修改</a>\
									<a class="btn btn-primary ng-binding delete" onclick="confirmDel(this)">删除</a>\
									<a class="btn btn-primary ng-binding link" onclick="link(this)">启用</a>\
									<a class="btn btn-primary ng-binding closed" onclick="closed(this)" style="display:none;">关闭</a>\
									<a class="btn btn-primary ng-binding log" onclick="showLog(this)" pid="">显示日志</a>\
									<a class="btn btn-primary ng-binding nolog" onclick="stopLog(this)" style="display:none;">隐藏日志</a>\
								</td>\
							</tr>\
						</tbody>\
					</table>';

    function initData() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/getData",
            data: "id=0",
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                }
                if (res.Code == "200") {
                    var output = JSON.parse(res.Output);
                    for (var i in output) {
                        addContent(output[i])
                    }
                } else {
                    alert(res.Output)
                }
            }
        });
    }

    function addContent(data) {
        $('body').append(html)
        $('.paramSpan').eq(-1).html(data['Params'])
        $('.nameSpan').eq(-1).html(data['Name'])
        $('.statusSpan').eq(-1).html(data['Status'])
        $('.autoSpan').eq(-1).html(data['Auto'])

        $('.log').eq(-1).attr('pid', data['ProcessId'])
        $('.log').eq(-1).attr('id', data['Id'])
        if (data['Status'] == "已开启") {
            $('.link').eq(-1).hide()
            $('.closed').eq(-1).show()
            $('.log').eq(-1).click()
        }
    }

    initData()

    function add() {

        $.ajax({
            type: "POST",
            cache: false,
            url: "/add",
            data: $('form').eq(0).serialize(),
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (res.Code == 200) {
                    $.notify("添加成功", "success")
                    var output = JSON.parse(res.Output)
                    addContent(output)
                    $('#exampleModal').modal('hide')
                } else {
                    $.notify(res.Output, {className: "error", elementPosition: "bottom right",})
                }
            }
        });
    }

    function keygen() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/keygen",
            data: "",
            dataType: "json",
            success: function (res) {
                if (res.Code == 200) {
                    $.notify("success", "success")
                } else {
                    $.notify(res.Output, "error")
                }
            }
        });
    }

    function link(ob) {
        $(ob).prop('disabled', true)
        var id = $(ob).siblings('.log').attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/link",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (res.Code == 200) {
                    $(ob).parents('table').notify(res.Output, {
                        className: "success",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                    $(ob).hide()
                    $(ob).siblings('.closed').show()
                    $(ob).siblings('.log').attr('pid', res.Id)
                    $(ob).parents('table').find('.statusSpan').html("已开启")
                } else {
                    $(ob).parents('table').notify(res.Output, {
                        className: "error",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                    $(ob).prop('disabled', false)
                }
            }
        });
    }

    function closed(ob) {
        $('ob').prop('disabled', false)
        var id = $(ob).siblings('.log').attr('id')
        var pid = $(ob).siblings('.log').attr('pid')
        lock[id] = true
        $.ajax({
            type: "POST",
            cache: false,
            url: "/close",
            data: "id=" + id + "&pid=" + pid,
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (res.Code == 200) {
                    $(ob).parents('table').notify(res.Output, {
                        className: "success",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                    $(ob).siblings(".log").attr('pid', "")
                    $(ob).hide()
                    $(ob).siblings('.link').show()
                    $(ob).parents('table').find('.statusSpan').html("未开启")
                } else {
                    $(ob).parents('table').notify(res.Output, {
                        className: "error",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                    $('ob').prop('disabled', false)
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                }
            }
        });
    }


    var lock = new Object()

    function showLog(ob) {
        var id = $(ob).attr('id')
        if (id == undefined || id == "") {
            $(ob).notify("not found id", {className: "error", elementPosition: "bottom right",})
            return
        }
        var status = $(ob).parents('table').find('.statusSpan').html()
        if (status == '未开启') {
            $(ob).notify("cannt showlog", {className: "error", elementPosition: "bottom right",})
            return
        }
        $(ob).siblings(".nolog").show()
        $(ob).hide()
        var html = '<textarea class="form-control" rows="6"></textarea>'
        $(ob).parents('table').after(html)
        lock[id] = false
        subShowLog(ob);
    }

    function subShowLog(ob) {
        var id = $(ob).attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/showLog",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (lock[id]) {
                    return;
                }
                if (res.Code == 500) {
                    $(ob).siblings('.nolog').notify(res.Output, {className: "error", elementPosition: "bottom right",})
                    return
                }
                if (!lock[id] && res.Code == 200) {
                    $(ob).parents('table').next('textarea').val($(ob).parents('table').next('textarea').val() + res.Output)
                    subShowLog(ob)
                }
            }
        });
    }

    function stopLog(ob) {
        $(ob).siblings(".log").show()
        $(ob).hide()
        $(ob).parents('table').next('textarea').remove()
        id = $(ob).siblings(".log").attr('id')
        lock[id] = true
    }

    function upload(types) {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // 限制上传数量。
            fileNumLimit: 8,
            // swf文件路径
            swf: '/static/webupload/Uploader.swf',
            // 文件接收服务端。
            server: '/uploade',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '.file_upload',
            compress: false,
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: types,
            }
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            if (response.Code == 501) {
                window.location.href = "/login"
                return
            }
            if (response.Code == 200) {
                var id = '#rt_' + file.source.ruid
                $(id).parents('a').siblings('input').val(response.Output)
                $(id).notify('上传成功', 'success')
            } else {
                $.notify(response.Output, {className: "error", elementPosition: "bottom right",})
            }
        });

        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                $.notify("请上传" + types + "类型的文件", {className: "error", elementPosition: "bottom right",})
            } else if (type == "F_EXCEED_SIZE") {
                $.notify("文件大小不能超过8M", {className: "error", elementPosition: "bottom right",})
            }
        });
    }

    function getData(ob) {
        var id = $(ob).siblings('.log').attr('id')
        var status = $(ob).parents('table').find('.statusSpan').html()
        if (status == '已开启') {
            $(ob).notify('已开启的代理不能修改！')
            return
        }
        $('#updateModal').modal()
        $.ajax({
            type: "POST",
            cache: false,
            url: "/getData",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                }
                res.Output = JSON.parse(res.Output)
                $('input[name=id]').eq(1).val(res.Output.Id)
                $('input[name=name]').eq(1).val(res.Output.Name)
                $('textarea[name=param]').eq(1).val(res.Output.Params)
                $('input[name=key]').eq(1).val(res.Output.Key)
                $('textarea[name=crt]').eq(1).val(res.Output.Crt)
                if (res.Output.Auto == "是") {
                    $('input[name=auto]').eq(3).prop('checked', true)
                } else {
                    $('input[name=auto]').eq(2).prop('checked', true)
                }
                setTimeout(function () {
                    upload("crt,key")
                }, 100)
            }
        });
    }

    function update() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/add",
            data: $('form').eq(1).serialize(),
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (res.Code == 200) {
                    $.notify("修改成功", "success")
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)

                } else {
                    $.notify(res.Output, {className: "error", elementPosition: "bottom right",})
                }
            }
        });
    }

    function confirmDel(ob) {
        $('.del').removeClass('del')
        var id = $(ob).siblings('.log').attr('id')
        var status = $(ob).parents('table').find('.statusSpan').html()
        if (status == '已开启') {
            $(ob).notify('已开启的代理不能删除！')
            return
        }
        $(ob).addClass('del')
        $('#deleteModal').modal()
    }

    function del() {
        var id = $('.del').siblings('.log').attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/delete",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                if (res.Code == 501) {
                    window.location.href = "/login"
                    return
                }
                if (res.Code == 200) {
                    $.notify("删除成功", "success")
                    $('.del').parents('table').remove()
                } else {
                    $.notify(res.Output, {className: "error", elementPosition: "bottom right",})
                    $('.del').removeClass('del')
                }
            }
        });
    }

    function startUpload(){
        setTimeout(function () {
            upload("crt,key")
        }, 1000)
    }
</script>
</html>