<!DOCTYPE html>
<html>
<head>
    <title>proxy</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <style>
        .upImgBtn {
            opacity: 0;
        }

        th {
            text-align: center;
        }

        td {
            font-size: 15px;
            vertical-align: middle !important;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="ng-scope" style="margin:5px 0 10px 2px;">
    <div class="profile-actions">
            <button onclick="startUpload()" class="btn btn-default ng-binding add" data-toggle="modal"
                    data-target="#exampleModal">
                <span class="glyphicon glyphicon-plus"></span> 添加代理
            </button>
            <label class="checkbox-inline">
                <input {{if .auto_start}} checked {{end}}type="checkbox" class="auto_start" value="auto"> 开机启动
            </label>
        <!-- <button class="btn btn-default ng-binding" data-toggle="modal" data-target="#keygenModal">
             <span class="glyphicon glyphicon-lock"></span> 生成加密证书
         </button> -->

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加proxy</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="">

                    <div class="form-group auto">
                        <label class="control-label">
                            名称:
                        </label>
                        <br>
                        <input type="text"
                               class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"
                               placeholder="" name="name">
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            参数:
                        </label>
                        <br>
                        <textarea class="form-control" rows="3" name="command"></textarea>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            自启动:
                        </label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            记录日志:
                        </label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="log" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="log" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传key，crt文件:
                        </label>
                        <br>
                        <input type="hidden" name="key">
                        <a class="btn btn-primary ng-binding file_upload">.key文件</a>
                        <input type="hidden" name="crt">
                        <a class="btn btn-primary ng-binding file_upload">.crt文件</a>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="add()" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">修改proxy</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="">

                    <div class="form-group auto">
                        <label class="control-label">
                            名称:
                        </label>
                        <br>
                        <input type="text"
                               class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"
                               placeholder="" name="name">
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            参数:
                        </label>
                        <br>
                        <textarea class="form-control" rows="3" name="command"></textarea>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            自启动:
                        </label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="auto" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group auto">
                        <label class="control-label">
                            记录日志:
                        </label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="log" data-val="" checked value="否"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="log" value="是"
                               class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">&nbsp;&nbsp;<label>是</label>
                    </div>

                    <div class="form-group encryptTerm">
                        <label for="recipient-name" class="control-label">
                            上传key,crt文件:
                        </label>
                        <br>
                        <input type="hidden" name="key">
                        <a class="btn btn-primary ng-binding file_upload">.key文件</a>
                        <input type="hidden" name="crt">
                        <a class="btn btn-primary ng-binding file_upload">.crt文件</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="update()" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">删除</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div>
                    <label for="recipient-name" class="control-label">
                        你确定要删除吗？
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="del()" data-dismiss="modal" class="btn btn-primary">删除</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="keygenModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">加密</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div>
                    <label for="recipient-name" class="control-label">
                        你确定要生成加密文件吗？
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="keygen()" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-8 foot"></div>
<div class="col-sm-4" style="padding-top: 8px; text-align: right;">
    goproxy-sdk版本： v{{.proxy_version}}，proxy-web版本：{{.version}}
</div>

</body>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/notify.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/webupload/webuploader.js"></script>
<script type="text/javascript" src="/static/js/layer.js"></script>
<script type="text/javascript">

    var html = '<table class="fixed-servers table table-bordered table-striped width-limit-lg" style="margin-top:10px; margin-bottom: 0px;">\
						<thead>\
							<tr style="background-color: #f9f9f9;">\
							    <th class="ng-binding">名称</th>\
								<th class="ng-binding">参数</th>\
								<th class="ng-binding">状态</th>\
								<th class="ng-binding">自启动</th>\
								<th class="ng-binding">记录日志</th>\
								<th class="ng-binding">操作</th>\
							</tr>\
						</thead>\
						<tbody>\
							<tr style="background-color:#fff;">\
							    <td style="width:100px;">\
                                    <span class="nameSpan"></span>\
                                </td>\
								<td style="width:430px;">\
									<span class="commandSpan"></span>\
								</td>\
								<td style="width:80px;">\
								   <span class="statusSpan"></span>\
								</td>\
								<td style="width:80px;">\
								   <span class="autoSpan"></span>\
								</td>\
								<td style="width:80px;">\
								    <span class="logSpan"></span>\
								</td>\
								<td  style="width:270px;">\
									<a class="btn btn-primary ng-binding update" onclick="getData(this)">修改</a>\
									<a class="btn btn-primary ng-binding delete" onclick="confirmDel(this)">删除</a>\
									<a class="btn btn-primary ng-binding link" onclick="link(this)">启用</a>\
									<a class="btn btn-primary ng-binding closed" onclick="closed(this)" style="display:none;">关闭</a>\
									<a class="btn btn-primary ng-binding log" onclick="showLog(this)">显示日志</a>\
								</td>\
							</tr>\
						</tbody>\
					</table>';

    function initData() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/getData",
            data: "id=0",
            dataType: "json",
            success: function (res) {
                for (var i in res.data) {
                    addContent(res.data[i])
                }
            }
        });
    }

    function addContent(data) {
        $('.foot').before(html)
        $('.commandSpan').eq(-1).html(data['command'])
        $('.nameSpan').eq(-1).html(data['name'])
        $('.statusSpan').eq(-1).html(data['status'])
        $('.autoSpan').eq(-1).html(data['auto_start'])
        $('.logSpan').eq(-1).html(data['log'])
        $('.log').eq(-1).attr('id', data['id'])
        if (data['status'] == "已开启") {
            $('.link').eq(-1).hide()
            $('.closed').eq(-1).show()
        }
    }

    initData()

    function add() {

        $.ajax({
            type: "POST",
            cache: false,
            url: "/add",
            data: $('form').eq(0).serialize(),
            dataType: "json",
            success: function (res) {
                $.notify("添加成功", "success")
                addContent(res.data)
                $('#exampleModal').modal('hide')
            }
        });
    }

    function keygen() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/keygen",
            data: "",
            dataType: "json",
            success: function (res) {
                if (res.Code == 200) {
                    $.notify("success", "success")
                } else {
                    $.notify(res.Output, "error")
                }
            }
        });
    }

    function link(ob) {
        $(ob).prop('disabled', true)
        var id = $(ob).siblings('.log').attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/link",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                $(ob).parents('table').notify("启动成功", {
                    className: "success",
                    elementPosition: "bottom right",
                    arrowShow: false
                })
                $(ob).hide()
                $(ob).siblings('.closed').show()
                $(ob).parents('table').find('.statusSpan').html("已开启")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status == 500) {
                    $(ob).parents('table').notify(XMLHttpRequest.responseJSON.msg, {
                        className: "error",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                }
            }
        });
    }

    function closed(ob) {
        $('ob').prop('disabled', false)
        var id = $(ob).siblings('.log').attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/close",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                $(ob).parents('table').notify("关闭成功", {
                    className: "success",
                    elementPosition: "bottom right",
                    arrowShow: false
                })
                $(ob).hide()
                $(ob).siblings('.link').show()
                $(ob).parents('table').find('.statusSpan').html("未开启")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status == 500) {
                    $(ob).parents('table').notify(XMLHttpRequest.responseJSON.msg, {
                        className: "error",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                }
            }
        });
    }

    function showLog(ob) {

        var log = $(ob).parents('table').find('.logSpan').html()
        if (log != '是') {
            $(ob).parents('table').notify('日志功能未开启！', {
                className: "error",
                elementPosition: "bottom right",
                arrowShow: false
            })
            return
        }

        var id = $(ob).attr('id')
        // window.location.href = "http://127.0.0.1:8822/show/" + id + "#width=100%&height=300px"
        layer.open({
            type: 2,
            skin: "layui-layer-lan",
            title: "日志",
            shadeClose: true,
            shade: 0.6,
            maxmin: true,
            area: ["800px", "500px"],
            content: "http://127.0.0.1:8822/show/" + id + "#width=100%&height=300px",
            padding: "10px"
        });
    }

    function upload(types) {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // 限制上传数量。
            fileNumLimit: 8,
            // swf文件路径
            swf: '/static/webupload/Uploader.swf',
            // 文件接收服务端。
            server: '/uploade',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '.file_upload',
            compress: false,
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: types,
            }
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            if (response.msg == "") {
                var id = '#rt_' + file.source.ruid
                $(id).parents('a').siblings('input').val(response.data)
                $(id).notify('上传成功', 'success')
            } else {
                $.notify(response.msg, {className: "error", elementPosition: "bottom right",})
            }
        });

        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                $.notify("请上传" + types + "类型的文件", {className: "error", elementPosition: "bottom right",})
            } else if (type == "F_EXCEED_SIZE") {
                $.notify("文件大小不能超过8M", {className: "error", elementPosition: "bottom right",})
            }
        });
    }

    function getData(ob) {
        var id = $(ob).siblings('.log').attr('id')
        var status = $(ob).parents('table').find('.statusSpan').html()
        if (status == '已开启') {
            $(ob).notify('已开启的代理不能修改！')
            return
        }
        $('#updateModal').modal()
        setTimeout(function () {
            upload("crt,key")
        }, 1000)
        $.ajax({
            type: "POST",
            cache: false,
            url: "/getData",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                $('input[name=id]').eq(1).val(res.data.id)
                $('input[name=name]').eq(1).val(res.data.name)
                $('textarea[name=command]').eq(1).val(res.data.command)
                $('input[name=key]').eq(1).val(res.data.key)
                $('input[name=crt]').eq(1).val(res.data.crt)
                if (res.data.auto_start == "是") {
                    $('input[name=auto]').eq(3).prop('checked', true)
                } else {
                    $('input[name=auto]').eq(2).prop('checked', true)
                }
                if (res.data.log == "是") {
                    $('input[name=log]').eq(3).prop('checked', true)
                } else {
                    $('input[name=log]').eq(2).prop('checked', true)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status == 500) {
                    $(ob).parents('table').notify(XMLHttpRequest.responseJSON.msg, {
                        className: "error",
                        elementPosition: "bottom right",
                        arrowShow: false
                    })
                }
            }
        });
    }

    function update() {
        $.ajax({
            type: "POST",
            cache: false,
            url: "/update",
            data: $('form').eq(1).serialize(),
            dataType: "json",
            success: function (res) {
                $.notify("修改成功", "success")
                setTimeout(function () {
                    window.location.reload()
                }, 2000)
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.status == 500) {
                    $.notify(XMLHttpRequest.responseJSON.msg, "error")
                }
            }
        });
    }

    function confirmDel(ob) {
        $('.del').removeClass('del')
        var id = $(ob).siblings('.log').attr('id')
        var status = $(ob).parents('table').find('.statusSpan').html()
        if (status == '已开启') {
            $(ob).notify('已开启的代理不能删除！')
            return
        }
        $(ob).addClass('del')
        $('#deleteModal').modal()
    }

    function del() {
        var id = $('.del').siblings('.log').attr('id')
        $.ajax({
            type: "POST",
            cache: false,
            url: "/delete",
            data: "id=" + id,
            dataType: "json",
            success: function (res) {
                $.notify("删除成功", "success")
                $('.del').parents('table').remove()
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseJSON.msg, "error")
            }
        });
    }

    function startUpload() {
        setTimeout(function () {
            upload("crt,key")
        }, 1000)
    }

    $(".auto_start").click(function () {
        auto = $(".auto_start:checked").val()
        $.ajax({
            type: "POST",
            cache: false,
            url: "/auto_start",
            data: "auto=" + auto,
            dataType: "json",
            success: function (res) {

            }
        });
    })
</script>
</html>